.crime-login-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	.facebook-login-container {
		position: absolute;
		bottom: 30%;
	}

	.facebook-login-button {
		font-size: 150%;
		letter-spacing: 3px;
	}

}

