.crime-home-container {
	.crime-home-logo {
		position:absolute;
		height: 35%;
		top: 25%;
		background-image: url( "../image/detective.png" );
		background-position: center center;
		background-size: 100%;
		background-repeat: no-repeat;
	}	
}
