.crime-profile-container {
	.profile-helper-container {
		position: absolute;
		bottom: 10%;
	}

	.profile-data-container {
		padding: 10px;
		background-color: rgba( 250, 250, 250, 0.7 );
	}

	.profile-image {

	}

	.profile-name {
		margin-top: 10px;
	}

	.profile-link {

	}
}