.crime-dashbar-container {

}

section.default.dashbar-minified {
	width: 60px !important;
	height: 60px !important;
	
	.crime-dashbar-container {
		.dashbar-minified-button {
			display: block;
		}
	}
}

section.default.dashbar-iconified {
	width: 60px !important;
	height: 100% !important;
	
	.crime-dashbar-container {
		.dashbar-minified-button {
			display: hidden;
		}	
	}
}

section.default.dashbar-listed {
	width: 100px !important;
	height: 100% !important;

	.crime-dashbar-container {
		.dashbar-minified-button {
			display: hidden;
		}
	}
}