.crime-notify-container {
	padding: 1.5%;

	p {
		margin-left: -10px;
		margin-bottom: 0px;
	}
}

section.notify-footer {
	bottom: 0px;
}

section.notify-header {
	top: 0px;
}

section.notify-compact {
	width: 100%;
	height: 12.5%;
	overflow: visible;
}

section.notify-whole {
	
}

section.notify-center {
	top: 50%;
}