@facebook-color: #3b5998;

.login
{
    .login-container
    {
        .login-component
        {
            z-index: 5;
            position: relative;

            height: auto;
            margin: 30% auto 0;
            .login-logo-container
            {
                position: relative;
                left: 50%;

                width: 200px;
                
                margin-bottom: 30px;
                
                transform: translate(-50%, -15%);
                .logo
                {
                    width: 100%;
                    height: 100%;
                }
            }
            .login-prompt
            {
                font-size: 25px;

                position: relative;
                left: 50%;

                width: 60%;
                padding: 10px;

                transform: translateX( -50% );
                letter-spacing: 3px;
            }
            .login-spinner
            {
                position: relative;
                left: 50%;

                transform: translateX( -50% );
            }
            .login-button
            {
                font-size: 1.1em;
                font-weight: 300;

                position: relative;
                left: 50%;

                width: 220px;
                height: 52px;
                margin: 20px;
                padding: 10px 0;

                transform: translate(-59%, -90%);
                text-transform: inherit;

                color: #fff;
                border-radius: 2px;
                background-color: lighten( @facebook-color, 5%);
                .login-icon
                {
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }
                &:active,
                &:hover
                {
                    background-color: @facebook-color;
                }
            }
        }
        .login-component > *
        {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
