@facebook-color: #5a72ab;

.login
{
    .login-container
    {
        .login-component
        {
            position: relative;

            height: auto;
            margin: 300px auto 0;

            .login-logo-container
            {
                position: relative;
                left: 50%;

                width: 200px;

                transform: translateX( -50% );
                .logo
                {
                    width: 100%;
                    height: 100%;
                }
            }
            .login-prompt
            {
                font-size: 25px;

                position: relative;
                left: 50%;

                width: 60%;
                padding: 10px;

                transform: translateX( -50% );
                letter-spacing: 3px;
            }
            .login-spinner
            {
                position: relative;
                left: 50%;

                transform: translateX( -50% );
            }
            .login-button
            {
                font-size: 1.4em;
                font-weight: 400;

                position: relative;
                left: 50%;

                height: 60px;
                margin: 20px 0;
                padding: 10px 30px;

                transform: translateX(-50%);
                text-transform: inherit;

                color: #fff;
                border-radius: 3px;
                background-color: #5a72ab;
                .login-icon
                {
                    font-size: 2.5em;

                    margin-right: 20px;
                }
                &:active,
                &:hover
                {
                    background-color: lighten( @facebook-color, 10%);
                }
            }
        }
        .login-component > *
        {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
