section.profile {
	right: 0px;
	height: 100%;

	.profile-container {
		background-color: #121212;
		color: #dedede;

		.profile-close-button {
			position: relative;
			top: 0px;

			width: 70px;
			height: 70px;

			float: right;

			display: inline-block;

			svg {
				fill: #ffffff;
			}
		}

		.profile-close-button:hover {
			svg {
				fill: #801515;
			}
		}

		.profile-data-container {
			position: relative;
			width: 100%;
			height: auto;

			display: inline-block;

			.profile-image {
				position: relative;
				width: 100%;
				height: auto;

				display: inline-block;

				img {
					position: relative;
					left: 50%;
					transform: translateX( -50% );
				}
			}

			.profile-data {
				display: inline-block;

				position: relative;
				width: 100%;
				height: auto;

				.profile-name {
					display: inline-block;

					width: 100%;
				}

				.profile-link{
					display: inline-block;

					position: relative;
					left: 50%;
					transform: translateX(-50%);
					
					padding: 5px;
					
					border-radius: 20px;
					border-color: #cccccc;
					border-width: 1px;
					border-style: solid;

					background-color: transparent;

					span {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

section.profile-minified {
	width: 70px;
	height: 70px;

	.profile-container {
		background-color: transparent;

		.profile-close-button {
			display: none;
		}

		.profile-data-container {
			height: 100%;

			.profile-image {
				top: 50%;
				left: 50%;
				transform: translateX( -50% ) translateY( -50% );
				
				img {
					width: 80%;
					height: 80%;
				}

				img.profile-empty {
					background-url: url( "../image/profile.png" );
					background-repeat: no-repeat;
				}
			}

			.profile-image:hover {
				img {
					border-width: 2px;
					border-style: solid;
					border-color: #ffffff;
				}
			}

			.profile-data {
				display: none;
			}
		}	
	}
}

section.profile-expanded {
	width: 360px;
	
	.profile-container {
		.profile-data-container {
			.profile-image {			
				img {
					width: 224px;
					height: 224px;
					
					border-color: #ffffff;
					border-width: 4px;
					border-style: solid;
				}
			}
		}	
	}
}