section.report-list {
	position: absolute;
	top: 0px;
	right: 0px;

	height: 100%;
	width: 500px;

	.report-list-container {
		background-color: #121212;

		.report-list-component {
			.list-container {
				.report-item {
					position: relative;
				}
			}
		}
	}
}
