section.report-list {
	position: absolute;
	top: 0px;
	right: 0px;

	height: 100%;
	width: 500px;

	.report-list-container {
		background-color: #121212;
		color: #ffffff;

		.report-list-component {
			width: inherit;
			height: inherit;

			.report-list-header {
				position: absolute;
				top: 0px;
				left: 0px;

				width: inherit;
				height: 70px;

				.header-icon {
					position: absolute;
					top: 0px;
					left: 0px;

					width: 70px;
					height: 70px;

					svg {
						fill: #ffffff;
					}
				}

				.header-title {
					position: absolute;
					top: 0px;
					left: 70px;
					right: 70px;

					height: 70px;
					width: auto;

					font-size: 25px;

					span {
						position: absolute;
						top: 50%;
						transform: translateY( -50% );
					}
				}

				.close-report-list-button {
					position: absolute;
					top: 0px;
					right: 0px;

					height: 70px;
					width: 70px;

					svg {
						fill: #ffffff;
					}
				}

				.close-report-list-button:hover {
					svg {
						fill: #801515;
					}
				}
			}

			.report-list-body {
				position: absolute;
				top: 70px;
				bottom: 70px;

				width: inherit;
				height: auto;

				overflow-y: auto;

				.list-container {
					width: inherit;
					height: auto;

					padding: 0px;
					
					.report-item {
						position: relative;
						
						width: inherit;
						height: 70px;

						overflow: hidden;

						.report-item-icon {
							position: absolute;
							top: 0px;
							left: 0px;
							width: 70px;
							height: 70px;

							svg {
								fill: #ffffff;
								display: none !important;
							}
						}

						.report-item-icon:hover {
							svg {
								display: block !important;
							}
						}

						.report-item-header {
							position: absolute;
							
							left: 70px;
							right: 0px;

							width: auto;
							height: auto;

							padding-left: 5px;
							padding-top: 5px;

							.report-time-from-now {
								position: absolute;
								top: 0px;
								right: 0px;
								
								padding-top: 5px;
								padding-right: 10px;
								
								font-size: 12px;
								letter-spacing: 1px;
							}

							.report-title {
								overflow: hidden;
								white-space: nowrap;

								font-size: 20px;
								text-overflow: ellipsis;
								
								padding-top: 17px;
								padding-right: 5px;
							}

							.report-date {
								font-size: 13px;
								letter-spacing: 1px;
							}

							.report-time {
								position: absolute;
								top: 0px;
								padding-top: 5px;
								font-size: 12px;
							}
						}

						.report-item-body {
							padding: 15px;
							margin-top: 70px;
						}

						.report-item-body.collapsed {
							display: none;
						}

						.report-item-footer {
							padding-left: 15px;
							padding-right: 15px;
						}

						.report-item-footer.collapsed {
							display: none;
						}
					}

					.report-item.expanded {
						height: auto;
					}

					.report-item:nth-child(odd){
						background-color: #171717;	
					}
				}	
			}
		}
	}
}
