section.report {
	position: absolute;
	top: 0px;
	right: 0px;

	height: 100%;
	width: 500px;

	.report-container {
		background-color: #121212;
		color: #ffffff;

		.report-component {
			width: inherit;
			height: auto;

			.report-header {
				position: absolute;
				top: 0px;
				left: 0px;

				width: inherit;
				height: 70px;

				.header-icon {
					position: absolute;
					top: 0px;
					left: 0px;

					width: 70px;
					height: 70px;

					svg {
						fill: #ffffff;
					}
				}

				.header-title {
					position: absolute;
					top: 0px;
					left: 70px;
					right: 70px;

					height: 70px;
					width: auto;

					font-size: 25px;

					span {
						position: absolute;
						top: 50%;
						transform: translateY( -50% );
					}
				}

				.close-report-button {
					position: absolute;
					top: 0px;
					right: 0px;

					height: 70px;
					width: 70px;

					svg {
						fill: #ffffff;
					}
				}

				.close-report-button:hover {
					svg {
						fill: #801515;
					}
				}
			}

			.report-body {
				position: absolute;
				top: 70px;
				bottom: 70px;

				width: inherit;
				height: auto;

				overflow-y: auto;

				.report-form {
					width: inherit;
					height: auto;

					padding: 20px;

					input,
					textarea {
						color: #000000;
					}
				}

				.report-form > * {
					margin-bottom: 20px;
				}

				.report-form label {
					font-size: 20px;
				}

				.report-form .main-heading {
					font-size: 20px;
				}

				.report-form .sub-heading {
					font-size: 15px;
				}
			}
		}
	}
}

section.control {
	.control-group.report-control-group {
		right: 0px;
		width: 500px;
	}
}
