.report-feed-expanded .report-list {
    width: 300px;
    height: 100%;
    right: -296px;
}

.report-feed-expanded {
    left: -300px !important;
    overflow: visible !important;
}

.report-list
{
    width: 100px;  
    height: 100px;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;

    .report-list-container
    {
        color: #fff;
        background-color: #121212;
        .report-list-component
        {
            width: inherit;
            height: inherit;
            .report-list-header
            {
                position: absolute;
                top: 0;
                left: 0;

                width: inherit;
                height: 70px;
                .header-icon
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 70px;
                    height: 70px;
                    svg
                    {
                        fill: #fff;
                    }
                }
                .header-title
                {
                    font-size: 25px;

                    position: absolute;
                    top: 0;
                    right: 70px;
                    left: 70px;

                    width: auto;
                    height: 70px;
                    span
                    {
                        position: absolute;
                        top: 50%;

                        transform: translateY( -50% );
                    }
                }
                .close-report-list-button
                {
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: 70px;
                    height: 70px;
                    svg
                    {
                        fill: #fff;
                    }
                }
                .close-report-list-button:hover
                {
                    svg
                    {
                        fill: #801515;
                    }
                }
            }
            .report-list-body
            {
                position: absolute;
                top: 70px;
                bottom: 70px;

                overflow-y: auto;

                width: inherit;
                height: auto;
                .list-container
                {
                    width: inherit;
                    height: auto;
                    padding: 0;
                    .report-item
                    {
                        position: relative;

                        overflow: hidden;

                        width: inherit;
                        height: 70px;
                        .report-item-icon
                        {
                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 70px;
                            height: 70px;
                            svg
                            {
                                display: none !important;

                                fill: #fff;
                            }
                        }
                        .report-item-icon:hover
                        {
                            svg
                            {
                                display: block !important;
                            }
                        }
                        .report-item-header
                        {
                            position: absolute;
                            right: 0;
                            left: 70px;

                            width: auto;
                            height: auto;
                            padding-top: 5px;
                            padding-left: 5px;
                            .report-time-from-now
                            {
                                font-size: 12px;

                                position: absolute;
                                top: 0;
                                right: 0;

                                padding-top: 5px;
                                padding-right: 10px;

                                letter-spacing: 1px;
                            }
                            .report-title
                            {
                                font-size: 20px;

                                overflow: hidden;

                                padding-top: 17px;
                                padding-right: 5px;

                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            .report-date
                            {
                                font-size: 13px;

                                letter-spacing: 1px;
                            }
                            .report-time
                            {
                                font-size: 12px;

                                position: absolute;
                                top: 0;

                                padding-top: 5px;
                            }
                        }
                        .report-item-body
                        {
                            margin-top: 70px;
                            padding: 15px;
                        }
                        .report-item-body.collapsed
                        {
                            display: none;
                        }
                        .report-item-footer
                        {
                            padding-right: 15px;
                            padding-left: 15px;
                        }
                        .report-item-footer.collapsed
                        {
                            display: none;
                        }
                    }
                    .report-item.expanded
                    {
                        height: auto;
                    }
                    .report-item:nth-child(odd)
                    {
                        background-color: #171717;
                    }
                }
            }
        }
    }
}
