section.report {
	position: absolute;
	top: 0px;
	right: 0px;

	height: 100%;
	width: 500px;

	.report-container {
		background-color: #121212;

		.report-component {
			width: inherit;
			height: auto;

			.report-header {
				position: absolute;
				top: 0px;
				left: 0px;

				width: inherit;
				height: 70px;

				.header-icon {
					position: relative;
					width: 70px;
					height: 70px;

					svg {
						fill: #ffffff;
					}
				}

				.header-title {
					position: relative;
					height: 70px;
					width: 300px;

					font-size: 25px;
					color: #ffffff;

					span {
						position: absolute;
						top: 50%;
						transform: translateY( -50% );
					}
				}
			}

			.report-body {
				position: absolute;
				top: 70px;
				bottom: 70px;

				width: inherit;
				height: auto;

				overflow-y: auto;

				.report-form {
					width: inherit;
					height: auto;

					padding: 20px;
				}

				.report-form > * {
					margin-bottom: 20px;
				}

				.report-form label {
					font-size: 20px;
					color: #ffffff;
				}

				.report-form .information {
					color: #ffffff;
				}

				.report-form .main-heading {
					font-size: 20px;
				}

				.report-form .sub-heading {
					font-size: 15px;
				}
			}
		}
	}
}

section.control {
	.control-group.report-control-group {
		position: absolute !important;
		width: 400px;
		transform: translateX( 100% );
	}
}
