node_modules/
bower_components/
client/library
build
duo.json
deploy
temp
*.pem
*.ppk
local.json
client/fonts/
key-*
userdb
reportdb
appdb
*.log
*.db
locate-crimewatch.bat
run-app-server.bat
run-report-server.bat
run-static-server.bat
run-user-server.bat
