<!DOCTYPE html>
<html>
	<head>
		<title>
			CrimeMap | CrimeWatch.ph
		</title>
	</head>
	<body>
		<div 
			id="fb-root">
		</div>

		<section 
			class="logo-container">
			<div 
				class="logo">
				<img 
					src="@staticServerURL/image/logotype.png" />
			</div>
			<div 
				class="spinner">
			</div>
		</section>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/jquery.min.js">
		</script>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/spin.js">
		</script>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/jquery.spin.js">
		</script>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/URI.min.js">
		</script>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/async.js">
		</script>

		<script 
			type="text/javascript" 
			src="@staticServerURL/library/lodash.min.js">
		</script>
		
		<script 
			type="text/javascript" 
			src="http://connect.facebook.net/en_US/sdk.js">
		</script>

		<script 
			type="text/javascript">
			$( ".spinner" ).spin( );

			var facebookAppID = "@facebookAppID";

			var uri = URI( );

			//: Do not query anymore if it is already redirected with logged-in parameter.
			if( !uri.hasQuery( "logged-in" ) &&
				!uri.hasQuery( "error" ) )
			{
				var hostAddress = [ 
					"http:/",
					uri.host( ) + uri.path( )
				].join( "/" );

				var redirectToFacebookLogin = function redirectToFacebookLogin( ){
					var redirectURL = [ 
						"https://www.facebook.com/dialog/oauth/?",
						[ 
							[ "client_id" , facebookAppID ].join( "=" ),
							[ "redirect_uri", hostAddress ].join( "=" ),						
							[ "scope", "email" ].join( "=" )
						].join( "&" )
					].join( "" );

					window.location = redirectURL;
				};

				window.fbAsyncInit = function fbAsyncInit( ){
					FB.init( {
						"appId": facebookAppID,
						"status": true,
						"cookie": true,
						"version": "v2.2"
					} );

					$( "#fb-root" ).ready( function onReady( ){
						FB.getLoginStatus( function onReponseLoginStatus( response ){
							if( response.error ){
								window.location = [
									hostAddress,
									[ "error", true ].join( "=" )  
								].join( "?" );

							}else if( response.status === "connected" ){
								var loginData = {
									"userID": response.authResponse.userID,
									"accessToken": response.authResponse.accessToken,
								};

								var profileData = { };

								async.parallel( [
									function requestProfileData( callback ){
										FB.api( "/me",
											function onResponse( response ){
												if( response.error ){
													callback( response.error, response );

												}else{
													profileData.profileName = response.name;
													profileData.profileURL = response.link;
													profileData.profileEMail = response.email;

													callback( null, response );
												}
											} );
									},

									function requestProfilePhoto( callback ){
										FB.api( "/me/picture",
											{
												"redirect": false,
												"height": 128,
												"type": "square",
												"width": 128
											},
											function onResponse( response ){
												if( response.error ){
													callback( response.error, response );

												}else{
													profileData.profileImage = response.data.url;

													callback( null, response );
												}
											} );
									}
								],
									function lastly( error, responseList ){
										if( error ){
											window.location = [
												hostAddress,
												[ "error", true ].join( "=" )  
											].join( "?" );

										}else{
											var formattedProfileData = {
												"profileName": URI.encode( profileData.profileName ),
												"profileURL": URI.encode( profileData.profileURL ),
												"profileImage": URI.encode( profileData.profileImage ),
												"profileEMail": URI.encode( profileData.profileEMail )
											};

											var queryData = _.extend( {
												"logged-in": true 
											}, formattedProfileData, loginData );

											window.location = [
												hostAddress,
												URI.buildQuery( queryData )
											].join( "?" );
										}
									} );

							}else{
								redirectToFacebookLogin( );
							}
						} );
					} );
				};	
			}			
		</script>
	</body>
</html>