<section class="reports admin-reports page">
  <section class="card">
    <section class="container">
      <section class="close-action pull-right">
        <a class="icon md-2x md-close" href="#"></a>
      </section>
      <h2>
        Admin Reports
      </h2>
      
      
      <table class="table style-zebra-stripes">
        <tbody>
          <tr>
            <th>
              Incident
            </th>
            <th>
              Address
            </th>
            <th>
              Time
            </th>
            <th>
              Date
            </th>
            <th>Action</th>
          </tr>
          <tr class="row">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="action">
  <a class="btn" href="#">Edit</a>
<a class="btn" href="#">Approve</a> <a class="btn btn-gray" href="#">Disapprove</a>
<a class="btn btn-red" href="#">Delete</a>
            </td>
          </tr>
          <tr class="row">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="action">
  <a class="btn" href="#">Edit</a>
<a class="btn" href="#">Approve</a> <a class="btn btn-gray" href="#">Disapprove</a>
<a class="btn btn-red" href="#">Delete</a>
            </td>
          </tr>
          <tr class="row">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="action">
  <a class="btn" href="#">Edit</a>
<a class="btn" href="#">Approve</a> <a class="btn btn-gray" href="#">Disapprove</a>
<a class="btn btn-red" href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

<section class="edit-record form">
  <section class="form-group">
    <section class="group">
      <input class="input-md" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Title</label>
    </section>
  </section>
  <section class="form-group">
    <section class="group">
      <textarea class="input-md" required="" rows="5"></textarea><span class="highlight"></span><span class="bar"></span><label class="label">Describe what happened?</label>
    </section>
  </section>
<section class="form-group">
    <section class="group">
      <textarea class="input-md" required="" rows="5"></textarea><span class="highlight"></span><span class="bar"></span><label class="label">Address where the crime happened</label>
    </section>
  </section>
  <section class="form-group date-and-time">
    <section class="group">
      <input class="input-md input-time" placeholder="" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Time (HH:MM AM/PM)</label>
    </section>
    <section class="group">
      <input class="input-md input-date" placeholder="" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Date (MM/DD/YYYY)</label>
    </section>
  </section>
  <section class="form-actions">
    <button class="btn btn-primary btn-xlarge disabled">Edit</button><button class="btn btn-gray btn-xlarge">Cancel</button>
  </section>
</section>
      
    </section>
  </section>
</section>