<section 
	className="category-button card">
	<section 
		className="icon-container">
		<a 
			className="icon md-3x main-menu-icon md-filter-list">
		</a>
	</section>
	<section 
		className="category-component card show">
		<section 
			className="card-category">
			<section 
				className="close-action pull-right">
				<a 
					className="icon" 
					href="#"> 
					<i 
						className="md-2x md-close">
					</i> 
				</a>
			</section>
			<section 
				className="case-category-list">
			</section>
		</section>
	</section>
</section>