<section 
	className="category-button card">
	<section 
		className="icon-container">
		<a 
			className="icon hide-mobile main-menu-icon"
			onClick={ this.onClickOpenCaseCategoryFilter }>
			<i 
				className="md-3x md-filter-list">		
			</i>
		</a>		
		<a 
			className="icon show-mobile main-menu-icon"
			onClick={ this.onClickOpenCaseCategoryFilter }>
			<i 
				className="md-3x md-filter-list">		
			</i>
		</a>
	</section>
	<section 
		className={ [
			"category-component card",
			( componentState == "case-category-filter-expanded" )? "show" : ""
		].join( " " ) }>
		<section 
			className="card-category">
			<h5 
				className="headline">
				{ CASE_CATEGORY_FILTER_HEADER_LABEL }
				<section 
					className="close-action pull-right">
					<a 
						className="md-close md-2x icon" 
						href="#"
						onClick={ this.onClickCloseCaseCategoryFilter }>
					</a>
				</section>
			</h5>
			<section 
				className="case-category-list">
			</section>
			<section 
				className="form-actions">
				<button 
					className="btn btn-primary btn-xlarge"
					onClick={ this.onClickConfirm }>
					{ CONFIRM_BUTTON_LABEL }
				</button>
				<button 
					className="btn btn-gray btn-xlarge"
					onClick={ this.onClickCancel }>
					{ CANCEL_BUTTON_LABEL }
				</button>
			</section>
		</section>
	</section>
</section>