<section class="category-component">
    <section class="card-category">
        <p class="labels">Please choose a crime category below:</p>

        <ul class="popular categories">
            <li class="category-list-item robbery">
                <a href="#" class="active">
                    <section class="img">
                        <img src="images/robbery.png">
                    </section>
                    <p>Robbery</p>
                </a>
            </li>
            <li class="category-list-item theft">
                <a href="#">
                    <section class="img">
                        <img src="images/theft.png">
                    </section>
                    <p>Theft</p>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a href="#">
                    <section class="img">
                        <img src="images/traffic-violation.png">
                    </section>
                    <p>Traffic Violation</p>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a href="#">
                    <section class="img">
                        <img src="images/pick-pocket.png">
                    </section>
                    <p>Pick Pocket</p>
                </a>
            </li>
        </ul>
                <ul class="hidden categories">
            <li class="category-list-item robbery">
                <a href="#" class="active">
                    <section class="img">
                        <img src="images/robbery.png">
                    </section>
                    <p>Robbery</p>
                </a>
            </li>
            <li class="category-list-item theft">
                <a href="#">
                    <section class="img">
                        <img src="images/theft.png">
                    </section>
                    <p>Theft</p>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a href="#">
                    <section class="img">
                        <img src="images/traffic-violation.png">
                    </section>
                    <p>Traffic Violation</p>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a href="#">
                    <section class="img">
                        <img src="images/pick-pocket.png">
                    </section>
                    <p>Pick Pocket</p>
                </a>
            </li>
            <li class="category-list-item robbery">
                <a href="#" class="active">
                    <section class="img">
                        <img src="images/robbery.png">
                    </section>
                    <p>Robbery</p>
                </a>
            </li>
            <li class="category-list-item theft">
                <a href="#">
                    <section class="img">
                        <img src="images/theft.png">
                    </section>
                    <p>Theft</p>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a href="#">
                    <section class="img">
                        <img src="images/traffic-violation.png">
                    </section>
                    <p>Traffic Violation</p>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a href="#">
                    <section class="img">
                        <img src="images/pick-pocket.png">
                    </section>
                    <p>Pick Pocket</p>
                </a>
            </li>
        </ul>
        <a href="#" class="more-categories">More Categories</a>


    </section>
</section>