<section class="category-button card">
    <section class="icon-container">
    <a class="icon md-3x main-menu-icon  md-filter-list"></a>
    </section>

    <section class="category-component card show">
    <section class="card-category">

    <section class="close-action pull-right">
        <a class="icon" href="#"> <i class="md-2x md-close"></i> 
        </a>
    </section>

        <p>Please choose a crime category below:</p>

        <ul class="popular categories">
            <li class="category-list-item robbery">
                <a class="list-item" href="#" class="active">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                <span class="name">Robbery</span></a>
            </li>
            <li class="category-list-item theft">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Theft</span>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Traffic Violation</span>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>
        </ul>

        <ul class="hidden categories">
            <li class="category-list-item robbery">
                <a class="list-item" href="#" class="active">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                <span class="name">Robbery</span></a>
            </li>
            <li class="category-list-item theft">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Theft</span>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Traffic Violation</span>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>
        </ul>
        <a href="#" class="more-categories">More Categories</a>


    </section>
</section></section>