<section class="crime-category">
    <p>Please choose a crime category below:</p>

        <ul class="popular categories">
            <li class="category-list-item robbery">
                <a class="list-item" href="#" class="active">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                <span class="name">Robbery</span></a>
            </li>
            <li class="category-list-item theft">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Theft</span>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Traffic Violation</span>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>
        </ul>

        <ul class="hidden categories">
            <li class="category-list-item robbery">
                <a class="list-item" href="#" class="active">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                <span class="name">Robbery</span></a>
            </li>
            <li class="category-list-item theft">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Theft</span>
                </a>

            </li>
            <li class="category-list-item traffic-violation">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Traffic Violation</span>
                </a>
            </li>
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>            
            <li class="category-list-item pick-pocket">
                <a class="list-item" href="#">
                    <section class="icon">
                        <img class="img" src="http://placehold.it/100x100">
                    </section>
                    <span class="name">Pick Pocket</span>
                </a>
            </li>
        </ul>
        <a href="#" class="more-categories">More Categories</a>
</section>