<section 
	className="main-menu card">

	<section 
		className="icon-container">
		<a 
			className="icon md-3x main-menu-icon md-menu" 
			onClick={ this.onMinifiedButtonClick }>
		</a>
	</section>

	<section 
		className={ [
			"card",
			"main-menu-expanded",
			( componentState == "dashbar-listed" )? "show": ""
		].join( " " ) }>
		<section 
			className={ [
				"card-container",
				dashbarState
			].join( " " ) }>

			<section 
				className="profile dashbar-profile">
			</section>

			<section 
				className="menu-dashboard">
				<ul 
					className="menu">
					{ dashList.map( this.onEachDashItem ) }
				</ul>
			</section>

		</section>

		<section 
			className="card-container dashbar-profile-setting">
		</section>
	</section>
</section>