<div 
	className={ [
		"dashbar-container",
		componentState
	].join( " " ) }>

	<div 
		className={ [
			"dashbar-minified-button",
			"dash-item",
			componentState
		].join( " " ) }
		onClick={ this.onMinifiedButtonClick }>
		<a 
			className={ [
				"action-element"
			].join( " " ) }
			href={ [
				"#",
				"open-dashbar"
			].join( "/" ) }>
			
			<div
				className={ [ 
					"dash-item-icon" 
				].join( " " ) }>
				<Icon 
					className={ [
						"dashbar-minified-icon"
					].join( " " ) } 
					name="ic_menu_24px" />
			</div>
		</a>
	</div>

	<div 
		className={ [
			"dash-header-item",
			"dash-item",
			"dashbar-close-button",
			componentState
		].join( " " ) }
		onClick={ this.onDashbarHeaderItemClick }>
		<a 
			className={ [
				"action-element"
			].join( " " ) }
			href={ [
				"#",
				"close-dashbar"
			].join( "/" ) }>

			<div
				className={ [ 
					"dash-item-icon" 
				].join( " " ) }>
				<Icon 
					className={ [
						"dashbar-close-icon"
					].join( " " ) } 
					name="ic_close_24px" />
			</div>
			
			<div
				className={ [
					"dashbar-header-label",
					"dash-item-label"
				].join( " " ) }>
				<span>
					CLOSE
				</span>
			</div>
		</a>
	</div>

	<div
		className={ [
			"dash-list",
			componentState
		].join( " " ) }>
		{ dashList.map( this.onEachDashItem ) }
	</div>
</div>