<section 
	className={ [
		"login-container",
		loginState,
		componentState
	].join( " " ) }>
	
	<section 
		className="overlay"></section>

	<section 
		className={ [
			"login-component",
			loginState,
			componentState,
		].join( " " ) }>


		<section
			className={ [
				"login-logo-container",
				"shown",
				"inline-block",
				loginState,
				componentState 
			].join( " " ) }>


			<img
				className={ [
					"logo",
					componentState
				].join( " " ) }
				src={ appLogoImageSource } />
		</section>

		<section
			className={ [
				"login-spinner",
				loginState,
				componentState
			].join( " " ) }>
		</section>

		{ /* Facebook login button. */ }
		<button 
			className={ [
				"card",
				"facebook-login-button",
				"btn",
				"btn-lg",
				"btn-primary",
				"login-button",
				( 
					loginType == "facebook" &&
					( 
						loginState == "logged-out" || 
						loginState == "logged-in" 
					)
				)? "shown inline-block": "hidden",
				loginState,
				componentState
			].join( " " ) }
			value="facebook"
			type="button"
			onClick={ this.onClickLogin }>
			<img
				className={ [
					"login-icon"
				].join( " " ) }
				src="image/facebook-logo.png" />
				{ LOGIN_LABEL }
		</button>
	</section>
</section>