<div 
	className={ [
		"login-container",
		loginState,
		componentState
	].join( " " ) }>
	<div 
		className={ [
			"login-component",
			loginState,
			componentState,
		].join( " " ) }>

		<div
			className={ [
				"login-logo-container",
				"shown",
				"inline-block",
				loginState,
				componentState 
			].join( " " ) }>

			<img
				className={ [
					"logo",
					componentState
				].join( " " ) }
				src={ appLogoImageSource } />
		</div>

		<div
			className={ [
				"login-spinner",
				loginState,
				componentState
			].join( " " ) }>
		</div>

		{ /* Facebook login button. */ }
		<button 
			className={ [
				"facebook-login-button",
				"btn",
				"btn-lg",
				"btn-primary",
				"login-button",
				( 
					loginType == "facebook" &&
					( 
						loginState == "logged-out" || 
						loginState == "logged-in" 
					)
				)? "shown inline-block": "hidden",
				loginState,
				componentState
			].join( " " ) }
			value="facebook"
			type="button"
			onClick={ this.onClickLogin }>
			<a
				className={ [
					"action-element"
				].join( " " ) }
				href={ [ 
					"#",
					loginState
				].join( "/" ) }>
				<span
					className={ [
						"login-icon",
						"entypo-social facebook"
					].join( " " ) }>
				</span>
				{ LOGIN_LABEL.toUpperCase( ) }
			</a>
		</button>
	</div>
</div>