<section class="reports my-reports page">
  <section class="card">
    <section class="container">
      <section class="close-action pull-right">
        <a class="icon md-2x md-close" href="#"></a>
      </section>
      <h2>
        My Reports
      </h2>
      <h4>
        Filter by
      </h4>
      <section class="filter-select">
        <select class="input input-select">
          <option value="Robbery">
            Robbery
          </option>
          <option value="Kidnapping">
            Kidnapping
          </option>
          <option value="Holdup">
            Holdup
          </option>
          <option value="Arson">
            Arson
          </option>
          <option value="Extortion">
            Extortion
          </option>
        </select>
      </section>
      <table class="table style-zebra-stripes">
        <tbody>
          <tr>
            <th>
              Incident
            </th>
            <th>
              Address
            </th>
            <th>
              Time
            </th>
            <th>
              Date
            </th>
            <th>
              Status
            </th>
          </tr>
          <tr class="row pending">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="status">
              Waiting approval
            </td>
          </tr>
          <tr class="row approved">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="status">
              Approved
            </td>
          </tr>
          <tr class="row pending">
            <td>
              Robbery
            </td>
            <td>
              Montalban St, Cagayan de Oro, Misamis Oriental
            </td>
            <td>
              10:43 AM
            </td>
            <td>
              November 11, 2014
            </td>
            <td class="status">
              Waiting approval
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</section>