<section 
	className={ [
		"profile-teaser",
		componentState
	].join( " " ) }>

	<section 
		className="close-action pull-right">
		<a 
			className="md-2x md-close icon" 
			href="#"
			onClick={ this.onClickCloseProfile }>
		</a>
	</section>

	<section 
		className="avatar">
		<img 
			alt="I am Username" 
			className="img" 
			src={ profileImage } />
	</section>

	<section 
		className="profile-detail-teaser">
		<p 
			className="name">
			{ profileName.toUpperCase( ) }
		</p>
		<p 
			className="email">
			{ profileEMail.toUpperCase( ) }
		</p>
	</section>
</section>