<section class="edit-record form">
		<section class="form-group">
		<section class="group">
		<input class="input-md" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Title</label>
		</section>
		</section>
		<section class="form-group">
		<section class="group">
		<textarea class="input-md" required="" rows="5"></textarea><span class="highlight"></span><span class="bar"></span><label class="label">Describe what happened?</label>
		</section>
		</section>
		<section class="form-group">
		<section class="group">
		<textarea class="input-md" required="" rows="5"></textarea><span class="highlight"></span><span class="bar"></span><label class="label">Location</label>
		</section>
		</section>
		<section class="form-group date-and-time">
		<section class="group">
		<input class="input-md input-time" placeholder="" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Time (HH:MM AM/PM)</label>
		</section>
		<section class="group">
		<input class="input-md input-date" placeholder="" required="" type="text" value=""><span class="highlight"></span><span class="bar"></span><label class="label">Date (MM/DD/YYYY)</label>
		</section>
		</section>
		<section class="form-actions">
		<button class="btn btn-primary btn-xlarge disabled">Edit</button><button class="btn btn-gray btn-xlarge">Cancel</button>
		</section>
	</section>