<section 
	className="crime-report card">
	<section
		className="container">
		<section 
			className="card-heading">
			<section 
				className="close-action pull-right">
				<a 
					className="icon" 
					href="#">
					<i 
						className="md-2x md-close">
					</i> 
				</a>
			</section>
			<h2 
				className="title">
				{ REPORT_HEADER_TITLE }
			</h2>
			<section 
				className="progress">
				<section 
					className="prog1">
					<p 
						className="label">
						{ SPECIFY_CATEGORY_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-done">
						</section>
					</a>
				</section>

				<section 
					className="prog2 text-active">
					<p 
						className="label">
						{ INCIDENT_DETAIL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-current">
						</section>
					</a>
				</section>

				<section 
					className="prog3">
					<p 
						className="label">
						{ REPORT_FINAL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section className="circ">
						</section>
					</a>
				</section>

				<section 
					className="prog-line">
				</section>
			</section>
		</section>
		<section 
			className="card-body form">
			<section 
				className="form-group">
				<section 
					className="group">
					<input 
						type="text" 
						className="input-md" 
						value={ title }
						required />
					<span 
						className="highlight">
					</span>
					<span 
						className="bar">
					</span>
					<label 
						className="label">
						{ TITLE_LABEL }
					</label>
				</section>
			</section>
			<section 
				className="form-group">
				<section 
					className="group">
					<textarea 
						className="input-md" 
						rows="5"
						value={ description }
						required >
					</textarea>
					<span 
						className="highlight">
					</span>
					<span 
						className="bar">
					</span>
					<label 
						className="label">
						{ DESCRIPTION_PHRASE }
					</label>
				</section>
			</section>
			<section 
				className="form-group date-and-time">
				<section 
					className="group">
					<input 
						type="text" 
						className="input-md input-time"
						placeholder={ TIME_FORMAT_PLACEHOLDER }
						value={ time }
						required />
					<span 
						className="highlight">
					</span>
					<span 
						className="bar">
					</span>
					<label 
						className="label">
						{ TIME_HAPPENED_PHRASE }
					</label>
				</section>
				<section 
					className="group">
					<input 
						type="text" 
						className="input-md input-date"
						placeholder={ DATE_FORMAT_PLACEHOLDER }
						value={ date }
						required />
					<span 
						className="highlight">
					</span>
					<span 
						className="bar">
					</span>
					<label 
						className="label">
						{ DATE_HAPPENED_PHRASE }
					</label>
				</section>
			</section>
			<section 
				className="form-group">
				<p 
					className="checkbox-container">
					<label>
						<input 
							type="checkbox" 
							className="checkbox send-report"
							checked={ isAnonymous } />
							{ SEND_REPORT_ANONYMOUSLY_PHRASE }
					</label>
				</p>
			</section>
			<p
				className="checkbox-container">
				<label>
					<input 
						type="checkbox" 
						className="checkbox agree"
						checked={ hasAgreed } />
						{ AGREEMENT_PHRASE }
						<a 
							target="_blank" 
							href="http://crimewatch.ph/privacy-policy">
							{ PRIVACY_POLICY_LABEL }
						</a>
				</label>
			</p>
			<section 
				className="form-actions">
				<button 
					className={ [
						"btn btn-primary btn-xlarge",
						( hasAgreed )? "" : "disabled"
					].join( " " ) }
					disabled={ !hasAgreed }
					onClick={ this.onClickConfirm }>
					{ CONFIRM_BUTTON_LABEL }
				</button>
				<button 
					href="#" 
					className="btn btn-gray btn-xlarge"
					onClick={ this.onClickCancel }>
					{ CANCEL_BUTTON_LABEL }
				</button>
			</section>
		</section>
	</section>
</section>