<section className="reports admin-reports page">
	<section className="card">
		<section className="container">
			<section className="close-action pull-right">
				<a 
					className="icon md-2x md-close" 
					href="#"
					onClick={ this.onClickCloseReportTable }>
				</a>
			</section>

			<h2>
				Admin Reports
			</h2>
			<section className="scrollable">
			<table className="table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
				<thead>
					<tr>
						<th>
							Incident
						</th>
						<th>
							Title
						</th>
						<th>
							Description
						</th>
						<th>
							Address
						</th>
						<th>
							Time
						</th>
						<th>
							Date
						</th>
						<th>
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					{ reportList.map( this.onEachReportItem ) }
				</tbody>
			</table>
			</section>
		</section>
	</section>
</section>