<section 
	className="marker-expanded marker-expanded-details card"
	style={ {
		"margin": "1px 1px",
		"width": "99.3%",
		"height": "99.7%",
		"maxWidth": "100%"
	} }>
	<section 
		className="crime-details submission-status"
		style={ {
			"height": "100%"
		} }>
		<section 
			className="crime-detail-teaser"
			style={ {
				"height": "100%"
			} }>
			<section 
				className="status owned">
			</section>

			<section 
				className="teaser">
				<section 
					className="crime-time-relative">
					<section 
						className="time">
						<span 
							className="prefix">
							{ timeFromNowData.prefix }
						</span>
						<span 
							className="digit">
							{ timeFromNowData.digit }
						</span>
						<span 
							className="unit">
							{ timeFromNowData.unit }
						</span>
						<span 
							className="suffix">
							{ timeFromNowData.suffix }
						</span>
					</section>
				</section>

				<section 
					className="close-action pull-right">
					<a 
						className="icon md-close" 
						href="#"
						onClick={ this.onClickCloseReportDetail }>
					</a>
				</section>

				<section 
					className="crime-icon">
					<img 
						alt={ reportCaseTitle } 
						className="img" 
						src={ categoryIconSource } />
				</section>

				<h4 
					className="name">
					{ reportCaseTitle } { REPORT_CASE_TITLE_PHRASE }
				</h4>
			</section>

			<section 
				className="location"
				style={ {
					"overflow": "hidden"
				} }>

				<MapPreview
					position={ position }
					zoom={ zoom }
					pinIconURL={ categoryIconPinSource }
					height={ 250 }
					width={ 600 } />
				
			</section>

			<section 
				className="info">
				<section 
					className="date-and-time">
					<h5>
						{ DATE_AND_TIME_LABEL }						
					</h5>
					<p>
						{ descriptiveDateAndTime }
					</p>
				</section>

				<section 
					className="title">
					<h5>
						{ REPORT_TITLE_LABEL }
					</h5>
					<p>
						{ reportTitle }
					</p>
				</section>

				<section 
					className="details">
					<h5>
						{ REPORT_DETAIL_LABEL }
					</h5>
					<p>
						{ reportDescription }
					</p>
				</section>
			</section>

			<section 
				className="action"
				style={ {
					"position": "absolute",
					"bottom": "0px",
					"width": "100%"
				} }>
				<button 
					className="btn btn-large btn-gray"
					onClick={ this.onClickLessDetail }>
					{ LESS_DETAIL_LABEL }
				</button>
			</section>
		</section>
	</section>
</section>