<section class="feeder-menu card">
	<section className="icon-container">
	<a className="icon md-3x feeder-menu-icon md-track-changes"></a>
	</section>

	<section 
	className="feedbar card">
 	<section 
 		className="toolbar">
		
		<h5 
			className="headline">
			{ REPORT_LIST_HEADER_LABEL }
			
			<section className="close-action pull-right">
    <a className="md-close icon" href="#">
  </a></section>
		</h5>
	</section>

	<section className="feed-streams">
		{ reportList.map( this.onEachReportItem ) }
	</section>
  
</section>

</section>

