<li
	key={ key }
	className={ [
		"report-item",
		( isExpanded )? "expanded" : "collapsed",
		"shown",
		"inline-block"
	].join( " " ) }
	onClick={ this.onClickReportItem }
	value={ reportID }>

	<div
		className={ [
			"report-item-icon",
			( isExpanded )? "expanded" : "collapsed"
		].join( " " ) }>
		<Icon 
			name="ic_expand_less_24px"
			style={
				{
					"display": ( isExpanded )? "block" : "none"
				}
			} />
		<Icon 
			name="ic_expand_more_24px"
			style={
				{
					"display": ( isExpanded )? "none" : "block"
				}
			} />
	</div>

	<div
		className={ [
			"report-item-header",
			( isExpanded )? "expanded" : "collapsed"
		].join( " " ) }>

		<div
			className={ [
				"report-time-from-now"
			].join( " " ) }>
			{ timeFromNow.toUpperCase( ) }
		</div>

		<div
			className={ [
				"report-title"
			].join( " " ) }>
			{ reportTitle.toUpperCase( ) }
		</div>

		<div
			className={ [
				"report-date"
			].join( " " ) }>
			{ descriptiveDate.toUpperCase( ) }
		</div>

		<div
			className={ [
				"report-time"
			].join( " " ) }>
			{ descriptiveTime.toUpperCase( ) }
		</div>
	</div>

	<div
		className={ [
			"report-item-body",
			( isExpanded )? "expanded" : "collapsed"
		].join( " " ) }>

		<MapPreview
			parent={ this }
			position={ mapPosition }
			zoom={ mapZoom } 
			address={ reportAddress } />
	</div>

	<div
		className={ [
			"report-item-footer",
			( isExpanded )? "expanded" : "collapsed"
		].join( " " ) }>
		<p>
			{ reportDescription.toUpperCase( ) }
		</p>
	</div>
</li>