<section 
	className="feedbar card">
 	<section 
 		className="toolbar">
		
		<h5 
			className="headline">
			{ REPORT_LIST_HEADER_LABEL.toUpperCase( ) }
			
			<a 
				className="menu-icon pull-right">
				<i 
					className="icon pull-right icon md-2x md-more-vert">
				</i>
			</a>
			<section 
				className="menu-pull-up">
				<ul 
					className="menu">
					<li 
						className="menu-list-item">
						<a 
							href="#" 
							className="menu-item">
							Recent
						</a>
					</li>

					<li 
						className="menu-list-item separator">
						<a 
							href="#" 
							className="menu-item">
							Disable notification
						</a>
					</li>

					<li 
						className="menu-list-item">
						<a 
							href="#" 
							className="menu-item">
							Hide feed
						</a>
					</li>

					<li 
						className="menu-list-item">
						<a 
							className="menu-item menu-action-close">
							Close
						</a>
					</li>
				</ul>
			</section>
		</h5>
	</section>

	<section className="feed-streams">
		{ reportList.map( this.onEachReportItem ) }
	</section>
  
</section>