<tr 
	className="row">
	<td>
		{ reportData.reportCaseTitle }
	</td>
	<td>
		<input type="text"
			name="reportTitle"
			value={ reportData.reportTitle } 
			onChange={ this.onChangeHandler } />
	</td>
	<td>								
		<input type="text"
			name="reportDescription"
			value={ reportData.reportDescription }
			onChange={ this.onChangeHandler } />
	</td>
	<td>
		{ reportData.reportAddress }
	</td>
	<td>
		{ reportTime }
	</td>
	<td>
		{ reportDate }
	</td>
	<td 
		className="action">
		<a 
			className={ [
				"btn",
				( reportData.reportState == "approved" ) ? "disabled" : "enabled"
			].join( " " ) }
			href="#"
			value={ reportData.reportState }
			disabled={ reportData.reportState == "approved" } 
			onClick={ this.onReportStateAccept }>
			Approve
		</a>
		<a 
			className="btn btn-gray" 
			href="#"
			className={ [
				"btn",
				( reportData.reportState == "rejected" ) ? "disabled" : "enabled"
			].join( " " ) }
			href="#"
			value={ reportData.reportState }
			disabled={ reportData.reportState == "rejected" } 
			onClick={ this.onReportStateReject }>
			Reject
		</a>
		<a 
			className={[
				"btn"
			].join( " " )}
			href="#"
			disabled={ !_.isEmpty( this.state.report ) } 
			onClick={ this.updateReport }>
			Update
		</a>
	</td>
</tr>