<div 
	className={ [
		"report-list-container",
		componentState
	].join( " " ) }>

	<div
		className={ [
			"report-list-component",
			componentState
		].join( " " ) }>

		<div 
			className={ [
				"report-list-header"
			].join( " " ) }>
			<div
				className={ [
					"header-icon",
					"shown",
					"inline-block"
				].join( " " ) }>
				<Icon name="ic_report_problem_24px" />
			</div>

			<div
				className={ [
					"header-title",
					"shown",
					"inline-block"
				].join( " " ) }>
				<span>
					{ REPORT_LIST_HEADER_LABEL.toUpperCase( ) }
				</span>
			</div>

			<div 
				className={ [
					"close-report-list-button",
					"shown",
					"inline-block"
				].join( " " ) }
				onClick={ this.onClickCloseReportListButton }>
				<a 
					className={ [
						"action-element"
					].join( " " ) }
					href={ [
						"#",
						"close-report-list"
					].join( "/" ) }
					style={
						{
							"display": "block"
						}
					}>
					
					<Icon
						className={ [
							"close-report-list-icon"
						].join( " " ) }
						name="ic_close_24px" />
				</a>
			</div>
		</div>

		<div
			className={ [
				"report-list-body"
			].join( " " ) }>

			<ul 
				className={ [
					"list-container" 
				].join( " " ) }>
				{ reportList.map( this.onEachReportItem ) }
			</ul>
		</div>
	</div>
</div>