<section class="crime-report card">
          
  <!-- Category selection section -->
  <section class="container">
      <section class="card-heading">

          <h2 class="title">Crime Report</h2>

          <section class="progress">
              <section class="prog1 text-active">
                  <p class="label">Specify Category</p>
                  <a href="#">
                      <section class="circ circ-current"></section>
                  </a>
              </section>
              <section class="prog2">
                  <p class="label">Incident Details</p>
                  <a href="#">
                      <section class="circ"></section>
                  </a>
              </section>
              <section class="prog3">
                  <p class="label">Thank you!</p>
                  <a href="#">
                      <section class="circ"></section>
                  </a>
              </section>
              <section class="prog-line"></section>
          </section>

      </section>
      <section class="location-image">
          <img src="http://placehold.it/500x200">
      </section>
      <section class="card-body form">
          <section class="form-actions">
              <button class="btn btn-primary btn-xlarge">Confirm</button>
              <button href="#" class="btn btn-gray btn-xlarge">Cancel</button>
          </section>
      </section>
  </section>
                
  <!-- Incident details section -->
  <section class="container">
      <section class="card-heading">
          <section class="close-action pull-right">
              <a class="icon" href="#"> <i class="md-2x md-close"></i> 
              </a>
          </section>
          <h2 class="title">Crime Report</h2>
          <section class="progress">
              <section class="prog1">
                  <p class="label">Specify Category</p>
                  <a href="#">
                      <section class="circ circ-done"></section>
                  </a>
              </section>
              <section class="prog2 text-active">
                  <p class="label">Incident Details</p>
                  <a href="#">
                      <section class="circ circ-current"></section>
                  </a>
              </section>
              <section class="prog3">
                  <p class="label">Thank you!</p>
                  <a href="#">
                      <section class="circ"></section>
                  </a>
              </section>

              <section class="prog-line"></section>
          </section>

      </section>
      <section class="card-body form">


          <section class="form-group">
              <section class="group">
                  <input type="text" class="input-md" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label">Title</label>
              </section>
          </section>
          <section class="form-group">
              <section class="group">
                  <textarea class="input-md" required="" rows="5" style="  "></textarea>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label">Describe what happened?</label>
              </section>
          </section>

          <section class="form-group date-and-time">
              <section class="group">
                  <input type="text" class="input-md input-time" required="">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label">Time</label>
              </section>

              <section class="group">
                  <input type="text" class="input-md input-date" required="">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label class="label">Date</label>
              </section>
          </section>

          <section class="form-group">
              <p class="checkbox-container">
                  <label>
                      <input type="checkbox" class="checkbox send-report">Send this report anonymously
                  </label>

              </p>


          </section>
          <p class="checkbox-container">

              <label>
                  <input type="checkbox" class="checkbox agree">I hereby agree on CrimeWatch.ph's <a target="_blank" href="http://crimewatch.ph/privacy-policy">Privacy Policy</a>
              </label>

          </p>

          <section class="form-actions">
              <button class="btn btn-primary btn-xlarge">Confirm</button>
              <button href="#" class="btn btn-gray btn-xlarge">Cancel</button>
          </section>
      </section>
  </section>

  <!-- Thank you section -->
  <section class="container">
      <section class="card-heading">
          <h2 class="title">Crime Report</h2>
          <section class="progress">
              <section class="prog1">
                  <p class="label">Specify Category</p>
                  <a href="#">
                      <section class="circ circ-done"></section>
                  </a>
              </section>
              <section class="prog2">
                  <p class="label">Incident Details</p>
                  <a href="#">
                      <section class="circ circ-done"></section>
                  </a>
              </section>
              <section class="prog3 text-active">
                  <p class="label">Thank you!</p>
                  <a href="#">
                      <section class="circ circ-current"></section>
                  </a>
              </section>

              <section class="prog-line"></section>
          </section>

      </section>
      <section class="card-body form">
          <section class="thank-you">
              <h2 class="thanks-msg">Thank you for your submission.</h2>
              <p>We will review and verify your report within 24 hours.</p>
          </section>

          <section class="form-actions">

              <button class="btn btn-primary btn-xlarge">My Reports</button>
              <button href="#" class="btn btn-gray btn-xlarge">Close</button>
          </section>
      </section>
  </section>


</section>