<section 
	className="crime-report card">
	<section 
		className="container">
		<section 
			className="card-heading">
			
			<section 
				className="close-action pull-right">
				<a 
					className="md-2x md-close icon" 
					href="#"
					onClick={ this.onClickCloseReportSpecifyCategory }>
				</a>	
			</section>

			<h2 
				className="title">
				{ REPORT_HEADER_TITLE }
			</h2>

			<section 
				className="progress">
				<section 
					className="prog1 text-active">
					<p 
						className="specify-category-progress-label label">
						{ SPECIFY_CATEGORY_PROGRESS_LABEL }
					</p>
					<p 
						className="upload-images-progress-label label">
						{ UPLOAD_IMAGES_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-current">
						</section>
					</a>
				</section>
				<section 
					className="prog2">
					<p 
						className="label">
						{ INCIDENT_DETAIL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ">
						</section>
					</a>
				</section>
				<section 
					className="prog3">
					<p 
						className="label">
						{ REPORT_FINAL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ">		
						</section>
					</a>
				</section>
				<section 
					className="prog-line">
				</section>
			</section>
		</section>
		<section 
			className="location-image">
			<MapPreview
				position={ position }
				zoom={ zoom }
				pinIconURL={ categoryIconPinSource }
				height={ 250 }
				width={ 600 } />
		</section>
		<section 
			className="card-body form">
			<section 
				className="image-upload">
			</section>
			<section 
				className="case-category-list">
			</section>
			<section 
				className="form-actions">
				<button 
					className="image-upload-button btn btn-gray btn-xlarge float-left"
					onClick={ this.onClickUploadImage }>
					{ UPLOAD_IMAGE_BUTTON_LABEL }
				</button>
				<button 
					className="save-image-button btn btn-primary btn-xlarge"
					onClick={ this.onClickSaveImage }>
					{ SAVE_IMAGE_BUTTON_LABEL }
				</button>
				<button 
					className="remove-image-button btn btn-primary btn-xlarge"
					onClick={ this.onClickRemoveImage }>
					{ REMOVE_IMAGE_BUTTON_LABEL }
				</button>
				<button 
					className="clear-button btn btn-gray btn-xlarge"
					onClick={ this.onClickClear }>
					{ CLEAR_BUTTON_LABEL }
				</button>
				<button 
					className="back-button btn btn-gray btn-xlarge"
					onClick={ this.onClickBack }>
					{ BACK_BUTTON_LABEL }
				</button>
				<button 
					className="confirm-button btn btn-primary btn-xlarge"
					onClick={ this.onClickConfirm }>
					{ CONFIRM_BUTTON_LABEL }
				</button>
				<button 
					className="cancel-button btn btn-gray btn-xlarge"
					onClick={ this.onClickCancel }>
					{ CANCEL_BUTTON_LABEL }
				</button>
			</section>
		</section>
	</section>
</section>