<section 
	key={ key }
	className="crime-stream"
	onClick={ this.onClickReportItem }
	value={ reportID }>

<section className="crime-time-relative">
  <section className="time">
    <span className="prefix">{ timeFromNowData.prefix }</span> <span className="digit">{ timeFromNowData.digit }</span> <span className="unit">{ timeFromNowData.unit
    }</span> <span className="suffix">{ timeFromNowData.suffix }</span>
  </section>
</section>

	<p>
  <span class="title">{ reportCaseTitle }</span> <span class="report-phrase">{ REPORT_ITEM_PHRASE }</span> <span class="address">{ reportAddress }</span>
</p>

</section>