<section 
	className="crime-report card">
	<section 
		className="container">
		<section 
			className="card-heading">

			<section 
	      className="close-action pull-right">
	      <a 
	        className="md-2x md-close icon" 
	        href="#">
	      </a>
	    </section>
	    
			<h2 
				className="title">
				{ REPORT_HEADER_TITLE }
			</h2>

			<section 
				className="progress">
				<section 
					className="prog1">
					<p 
						className="label">
						{ SPECIFY_CATEGORY_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-done">
						</section>
					</a>
				</section>
				<section 
					className="prog2">
					<p 
						className="label">
						{ INCIDENT_DETAIL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-done">
						</section>
					</a>
				</section>
				<section 
					className="prog3 text-active">
					<p 
						className="label">
						{ REPORT_FINAL_PROGRESS_LABEL }
					</p>
					<a 
						href="#">
						<section 
							className="circ circ-current">
						</section>
					</a>
				</section>
				<section 
					className="prog-line">
				</section>
			</section>
		</section>
		<section 
			className="card-body form">
			<section 
				className="thank-you">
				<h2 
					className="thanks-msg">
					{ THANK_SUBMISSION_PHRASE }
				</h2>
				<p>
					{ VERIFY_SUBMISSION_PHRASE }
				</p>
			</section>
			<section 
				className="form-actions">
				<button 
					className="btn btn-primary btn-xlarge"
					onClick={ this.onClickMyReport }>
					{ MY_REPORT_BUTTON_LABEL }
				</button>
				<button 
					href="#" 
					className="btn btn-gray btn-xlarge"
					onClick={ this.onClickCloseReportFinal }>
					{ CLOSE_BUTTON_LABEL }
				</button>
			</section>
		</section>
	</section>
</section>