<section 
	className="reports my-reports page">
	<section 
		className="card">
		<section 
			className="container">
				<section 
					className="close-action pull-right">
					<a 
						className="icon md-2x md-close" 
						href="#"
						onClick={ this.onClickCloseUserReportList }>
					</a>
				</section>
				
				<h2>
					My Reports
				</h2>
				<table 
					className="table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
					<thead>
						<tr>
							<th data-tablesaw-priority="persist">
								Incident
							</th>	
							<th data-tablesaw-priority="persist">
								Title
							</th>
							<th data-tablesaw-priority="2">
								Description
							</th>
							<th data-tablesaw-priority="2">
								Address
							</th>
							<th data-tablesaw-priority="2">
								Time
							</th>
							<th data-tablesaw-priority="persist">
								Date
							</th>
							<th data-tablesaw-priority="persist">
								Status
							</th>
						</tr>
					</thead>
					<tbody>
						{ reportList.map( this.onEachReportItem ) }
					</tbody>
				</table>
		</section>
	</section>
</section>