<section 
	className="zoom-control">
	<section 
		className="controls-container">
		<section 
			className="add-control control-container">
			<a 
				href="#" 
				className="icon card"
				onClick={ this.onClickZoomIn }>
				<i 
					className="md-2x md-add">		
				</i>
			</a>  
		</section>
		<section 
			className="minus-control control-container">
			<a 
				href="#" 
				className="icon card"
				onClick={ this.onClickZoomOut }>
				<i 
					className="md-2x md-remove">
				</i>
			</a>  
		</section>
	</section>
</section>