

.category-component
{
    padding: 20px;
    .card-category
    {
        display: table;

        width: 100%;
        a
        {
            font-size: 13px;
            font-weight: 700;

            display: block;
            float: left;

            width: 23.9%;
            margin: 5px;
            padding: 10px 0;

            text-align: center;
            text-decoration: none;

            color: #0f6996;
            border-radius: 3px;
            img
            {
                padding: 10px;
                &.active,
                &:hover
                {
                    color: #fff;
                    background-color: #0f6996;
                }
            }
        }
        .more-categories
        {
            font-weight: 700;

            display: block;

            width: 100%;
            margin: 20px 0;

            text-transform: uppercase;

            color: #0f6996;
            border: 1px solid #aaa;
            &:hover,
            &:active
            {
                color: #fff;
                background-color: #0f6996;
            }
        }
    }
}
