

.category-component
{
    padding: 20px;
    &.card
    {
        width: 460px;
        & .icon,
         & .name
        {
            display: block;
        }
    }
    .card-category
    {
        display: table;

        width: 100%;
        a
        {
            font-size: 1em;
            font-weight: 400;

            display: inline-block;
            float: left;

            width: 130px;
            margin: 5px;
            padding: 10px;
            padding: 10px 0;

            text-align: center;
            text-decoration: none;

            color: @primary-color;
            border-radius: 3px;
            .icon
            {
                margin-bottom: 10px;
            }
            &:hover,
             &:active
            {
                font-weight: 700;

                color: #fff;
                background-color: @primary-color;
            }
        }
        .categories
        {
            padding: 0;
        }
        .hidden
        {
            display: none;
        }
        .more-categories
        {
            font-weight: 700;

            display: block;

            width: 100%;
            margin: 10px 0;

            text-transform: uppercase;

            color: #AAA;
            border: 1px solid #aaa;
            &:hover,
            &:active
            {
                color: #fff;
                background-color: @primary-color;
            }
        }
    }
}
