.feedbar
{
margin: 20px;
display: none;
width: 300px;
display: table !important;
transform: translateX(-81%);
top: -90px;
right: 0;
height: 100%;

    .toolbar
    {
        padding: 20px;
        .close-action
        {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .feed-streams
    {
        overflow-y: scroll;
        .crime-stream
        {
            font-weight: 300;

            padding: 10px 20px;

            border-bottom: 1px solid #eee;
            .title
            {
                font-weight: 600;
            }
            .address
            {
                font-weight: 500;
            }
        }
    }
}


.feeder-menu
{
    position: absolute;
    right: 0;

    width: 60px;
    height: 60px;
    margin: 20px;
    padding: 7px;

    .icon-container
    {
        width: 46px;
        height: 41px;    
        text-align: center;

        .icon
        {
            color: @primary-color;
        }
    }
}
