.feedbar
{
    .toolbar
    {
        padding: 20px;
    }
    .feed-streams
    {
        .crime-stream
        {
            font-weight: 300;

            padding: 10px 20px;

            border-bottom: 1px solid #eee;
            &:hover
            {
                background-color: #f4f4f4;
                .btn-action
                {
                    display: table;
                }
            }
            
            .crime-category
            {
                font-weight: 600;
            }
            .street-location
            {
                font-weight: 500;
            }
            .btn-action
            {
                display: none;
                width: 100%;
                text-align: right;
                .btn
                {
                    float: right;
                }
            }
        }
    }
}
