.marker-expanded {
	position: relative;

	.crime-details {
		position: relative;
		background-color: #fff;

		.close-action {
			text-decoration: none;
			padding: 13px;
			position: absolute;
			right: 0px;
		}

		.image-grid {
			position: absolute !important;
			top: 50px !important;
		}

		.report-header-image-view {
			display: flex !important;
			position: absolute !important;

			.crime-time-relative {
				color: @body-copy-color-light;
				display: flex !important;
				align-items: center;
				padding-top: 2px;
				font-size: .88em !important;

				span {
					margin-right: .3em;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			.name {
				font-size: 1.3em;
				text-align: center;
				color: #0f6996;
				height: 50px;
				padding-left: 20px;
				padding-right: 5px;
				display: flex;
				align-items: center;

				span {
					margin-left: 3px;
					letter-spacing: .5px;
				}
			}
		}

		.report-info-image-view {
			position: absolute;
			bottom: 50px;
			display: flex;
			width: 100%;

			.icon-container {
				width: 130px !important;

				.img {
					width: 60px;
					margin-left: 25px;
				}
			}

			.info-container {
				p:first-child {
					font-size: 1.2em;
					padding-top: 5px;
				}

				p:last-child {
					line-height: 1;
				}

				p {
					padding: 0px;
					font-weight: bold;
				}
			}
		}

		.crime-detail-teaser
		{

			.teaser
			{
				padding: 15px 20px;

				background-color: #f2f2f2;
				.crime-time-relative
				{
					float: left;
					color: @body-copy-color-light;
					

					span
					{
						margin-right: .3em;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
				}
				.crime-icon
				{
					display: table;

					width: 100%;

					text-align: center;
					.img
					{
						width: 50px;
						margin-bottom: 15px;
					}
				}
				.name
				{
					font-size: 1.2em;

					padding-bottom: 10px;

					text-align: center;

					color: #0f6996;
				}
				.show-images-button {
					border: 1px solid #aaaaaa;
					width: 150px !important;
					height: auto !important;
					display: flex;
					justify-content: center;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 2px;
					background-color: rgba(100,100,100,0.6);
					color: #ffffff;
					border-radius: 2px;

					&:hover {
						color: rgb(100,100,100);
						background-color: rgba(255,255,255,0.6);
					}
				}
			}
			.info
			{
				padding-top: 25px;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 0px;
				
				p
				{
					padding-top: 0;
				}
				.date-and-time,
				.title
				{
					font-weight: bold;
					p
					{
						font-size: 1.2em;
						padding-bottom: 10px;
					}
				}
			}
			.expand-details
			{
				text-align: center;
				.icon
				{
					color: #fff;
				}
			}
			.expand-action
			{
				display: block;

				padding: 5px;

				background-color: #0f6996;
				&:hover
				{
					background-color: #3f98c5;
				}
			}
			.report-sharing {
				margin-left: 20px;
				margin-right: 20px;
			}
		}
	}
}
