.marker-expanded-details
{
    max-width: 480px;
    .location
    {

        .img {
            width: 100%;
        }
    }
    .info
    {
        .date-and-time,
        .title
        {
            font-weight: bold;
            p
            {
                font-size: 1.2em;
            }
        }
        .crime-time-relative span
        {
            margin-right: .3em;
        }
        .date-and-time
        {
            font-weight: bold;
        }
        .details p
        {
            overflow-y: scroll;

            max-height: 50px;
        }
    }
    .action
    {
        padding: 5px;

        text-align: center;
        .btn
        {
            width: 100%;
        }
    }
    p
    {
        padding-top: 0;
    }
}
