.menu-icon
{
    position: relative;
    top: -7px;

    display: inline-block;

    padding: 5px;

    border-radius: 50%;
    &:active
    {
        background-color: #eee;
    }
    .icon
    {
        margin: 0 !important;
    }
}

.main-menu
{
    position: relative;

    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    padding: 10px;
    .card
    {
        position: relative;
        top: -50px;
        left: -2px;

        display: none;

        width: 350px;
        margin: 0 !important;
    }
    .icon
    {
        display: inline-block;

        color: @primary-color;
        &:hover
        {
            color: lighten(@primary-color, 10%);
        }
    }
}