@media (max-width: 480px)
{
    .zoom-control
    {
        position: absolute;
        top: 10%;
        left: 0;

        width: auto;
        height: auto;
        margin: 20px;
        .control-container .icon
        {
            display: block;

            width: auto;
            height: auto;
            padding: 10px 8px 3px;
        }
    }

    .main-menu
    {
        .icon-container
        {
            padding: 8px;
        }
    }

    .feedbar
    {
        width: 320px;
    }


    .feeder-menu
    {
        width: 44px;
        height: 44px;
        .icon-container
        {
            width: auto;
            height: auto;
            .icon
            {
                vertical-align: middle;
            }
        }
    }

    .locate-control
    {
        bottom: 50%;

        width: auto;
        height: auto;
        .control-container .icon
        {
            width: auto;
            height: auto;
            padding: 7px;

            vertical-align: middle;
        }
    }


    .report-control
    {
        &.card
        {
            left: 0;

            width: 100%;
            margin: 0;

            transform: none;
        }
        &.page
        {
            left: 0;

            width: 100%;
            margin: 0;

            transform: none;
        }
    }

    .category-button
    {
        position: relative;
        top: 0;
        left: 0;

        width: 44px;
        height: 44px;
        margin: 20px;
    }
}

@media (max-width: 639px)
{
    .reports
    {
        .table
        {
            display: block;
            overflow-y: scroll;

            height: 400px;
            tr
            {
                display: inline-block;

                margin-bottom: 20px;
                td
                {
                    line-height: 1.7;
                }
            }
        }
    }

    .scrollable
    {
        overflow-y: auto !important;

        height: auto;
    }
}
