@media (max-width: 480px)
{
    .search
    {
        left: 0;

        width: 100%;
        .input-wrapper
        {
            display: inline-block;
            float: none;

            width: 90%;
        }
        .search-bar
        {
            width: 100%;
            height: 40px;
            margin: 0;

            transform: none;
            .bar-wrapper
            {
                display: block;
                .button-wrapper
                {
                    display: inline-block;
                    float: none;

                    width: 20%;
                }
                .input-wrapper
                {
                    width: 80%;
                    .input
                    {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    .zoom-control
    {
        position: absolute;
        left: 0;

        width: auto;
        height: auto;
        margin: 20px;
        .control-container .icon
        {
            display: block;

            width: auto;
            height: auto;
            padding: 10px 8px 3px;
        }
    }

    .main-menu
    {
        .icon-container
        {
            padding: 8px;
        }
    }

    .feedbar
    {
        width: 320px;
    }


    .feeder-menu
    {
        width: 44px;
        height: 44px;
        .icon-container
        {
            width: auto;
            height: auto;
            .icon
            {
                vertical-align: middle;
            }
        }
    }

    .locate-control
    {
        width: auto;
        height: auto;
        .control-container .icon
        {
            width: auto;
            height: 44px;
            padding: 8px;

            vertical-align: middle;
        }
    }


    .report-control
    {
        &.card
        {
            left: 0;

            width: 100%;
            margin: 0;

            transform: none;
        }
        &.page
        {
            left: 0;

            width: 100%;
            margin: 0;

            transform: none;
        }
    }

    .login .login-container .login-component
    {
        margin: 65% auto 0;
    }

    .main-menu .card
    {
        top: -55px;
        left: -10px;

        width: 300px;
    }

    .profile
    {
        padding: 10px;
        .profile-teaser .profile-detail-teaser
        {
            padding: 20px 20px 10px;
        }
        .avatar
        {
            width: 120px;
            height: 120px;
            margin: 10px auto;
            padding: 0;
        }
    }

    .profile-container
    {
        .form .form-group .input
        {
            height: 40px;
            margin-bottom: 10px;
        }
    }




    .menu-dashboard .menu
    {
        padding: 10px 0;
    }

    .main-menu.card
    {
        top: 60px;
    }

    .zoom-control
    {
        top: 120px;
        .zoom-control
        {
            top: 0;
        }
    }

    .locate-control
    {
        top: 230px;
    }

    .category-button
    {
        margin: 20px;
    }

    .case-category-filter
    {
        top: 120px;
    }

    .report-list
    {
        top: 60px;
    }


    .category-component.card,
    .crime-report .case-category-list.card
    {
        z-index: 9999;
        top: -200px;
        left: -250px;

        width: 300px;
    }

    .category-component .card-category .list-item .icon,
    .crime-report .case-category-list .card-category .list-item .icon,
    .category-component .crime-category .list-item .icon,
    .crime-report .case-category-list .crime-category .list-item .icon
    {
        width: 30px;
    }

    .category-component .card-category .list-item,
    .crime-report .case-category-list .card-category .list-item,
    .category-component .crime-category .list-item,
    .crime-report .case-category-list .crime-category .list-item
    {
        font-size: .8em;
        line-height: 1.2em;

        width: 75px;
        height: 75px;
    }

    .category-component .card-category .categories,
    .crime-report .case-category-list .card-category .categories,
    .category-component .crime-category .categories,
    .crime-report .case-category-list .crime-category .categories
    {
        height: 170px;
    }

    .crime-report .location-image
    {
        display: none;
    }
    .crime-report .card-heading .title
    {
        font-size: 1em;

        margin-top: 0;
        margin-bottom: 0;
    }

    .crime-report .card-heading
    {
        padding: 10px;
    }

    .crime-report .card-heading .progress
    {
        padding-top: 10px;
    }

    .crime-report
    {
        top: -30px;
        left: -20px;

        width: 100%;

        transform: none;
    }

    .crime-report .card-heading .progress
    {
        font-size: .8em;
    }

    .crime-report .case-category-list .crime-category .more-categories,
    .category-component .card-category .less-categories
    {
        font-size: .9em;

        margin-top: 0;
        margin-bottom: 0;
    }

    .crime-report .card-body
    {
        padding: 0 10px 20px;
    }

    .report-incident-detail .crime-report .card-body
    {
        overflow-y: scroll;

        height: 335px;
    }

    .crime-report .case-category-list .crime-category .list-item
    {
        width: 90px;
    }

    .crime-report .form-group.date-and-time .group
    {
        display: block;

        width: 100%;
        margin-left: 0;
        padding-bottom: 20px;
    }
}

@media (max-width: 639px)
{
    .reports
    {
        .table
        {
            display: block;
            overflow-y: scroll;

            height: 400px;
            tr
            {
                display: inline-block;

                margin-bottom: 20px;
                td
                {
                    line-height: 1.7;
                }
            }
        }
    }

    .scrollable
    {
        overflow-y: auto !important;

        height: auto;
    }
}

@media (max-width: 1024px)
{
    .crime-report .card-heading .title
    {
        font-size: 1.3em;

        margin-bottom: 0;
    }

    .crime-report .location-image
    {
        width: 480px;
        height: auto;
        margin: 0;
    }

    .crime-report .card-body.form
    {
        padding-top: 10px;
    }

    .crime-report .card-heading .progress p
    {
        padding: 0;
    }

    .crime-report .card-heading .progress .prog-line
    {
        margin-top: 35px;
    }

    .crime-report .case-category-list .crime-category .list-item
    {
        width: 136px;
        height: 100px;
    }

    .crime-report .crime-category p
    {
        padding-bottom: 10px;
    }

    .crime-report .case-category-list .crime-category .list-item .icon
    {
        width: 44px;
        margin-bottom: 5px;
    }

    .crime-report .case-category-list .crime-category .categories
    {
        height: 240px;
        margin: 0 auto;
        /* width: 360px; */
    }

    .crime-report
    {
        margin: 0 auto;

        transform: none;
    }
}
