.pull-right
{
    float: right;
}

.pull-left
{
    float: right;
}

.icon
{
    color: @body-copy-color-light;
}


.show
{
    display: table !important;
    
    &-mobile {
        display: none;
    }

    @media (max-width: @mobile-breakpoint) {
        &-mobile {
            display: block !important;
        }
    }

    &-tablet {
        display: block !important;
    }
}

.hide 
{
    display: none !important;

    &-mobile {
        display: block;
    }

    @media (max-width: @mobile-breakpoint) {
        &-mobile {
            display: none !important;
        }
    }
    
    &-tablet {
        display: none !important;
    }
}

.crime-time-relative
{
    font-size: .9em;

    color: @body-copy-color-light;
    .prefix,
    .digit,
    .unit,
    .suffix
    {
        font-weight: 400;

        text-transform: lowercase;
    }
}
